/.cursor/
/.idea/
/AtelierFirisDX/
/AtelierFirisDXRus/
/AtelierLydieAndSuelleDX/*
/AtelierLydieAndSuelleDXRus/
/LydieAndSuelleDxRusScripts/archives/
/LydieAndSuelleDxRusScripts/build/
/LydieAndSuelleDxRusScripts/extracts/
/LydieAndSuelleDxRusScripts/steamless/*
/steamless/*
/tools/gust_tools/*
/tools/compress_bc3_region
/work/
**/__pycache__/
LydieAndSuelleDxRusScripts/strings/prod/backups/
LydieAndSuelleDxRusScripts/strings/debug/backups/
